<div>
    <p>&#128296; Configuration</p>
    <p>
        <table>
            <tr>
                <td>
                    Durée (mn)
                </td>
                <td>
                    <input type='number' id='txtDailyDuration'></input>
                </td>
                <td>
                    <button id='btnDurationOk'>&#128221;</button>
                </td>
            </tr>
        </table>
    </p>
    <p>
        Liste de règles :
        <table id='tblConfiguration'></table>
    </p>
</div>
